name: AVD Playground

on: 
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: create AVD and generate snapshot for caching  
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: google_apis
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."
          