name: Maestro (Android)

on: 
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v2

      - run: |
          echo "debug"
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm install

      # - name: Setup Gradle
      #   uses: gradle/actions/setup-gradle@v5
      #   with:
      #     gradle-version: '9.2.0'

      - name: Configure gradle / cmake
        run: |
          cd android
          # spoof gradlew to use pre-installed 9.2.0
          mv -f gradlew.local-passthrough gradlew
          # point gradle to pre-installed cmake
          mv local.properties.ubuntu-24.04 local.properties

      - name: Build Android App
        run: |
          npx react-native build-android --tasks assembleRelease --extra-params "-x lint -x lintVitalRelease"
      
      # - name: Install dependencies
      #   run: |
      #     export MAESTRO_VERSION="2.0.8"; curl -Ls "https://get.maestro.mobile.dev" | bash
      #     npm install

      # - name: Enable KVM
      #   run: |
      #     echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
      #     sudo udevadm control --reload-rules
      #     sudo udevadm trigger --name-match=kvm

      # - uses: actions/setup-java@v5
      #   with:
      #     distribution: 'zulu'
      #     java-version: '17'


      # - name: Build Android App
      #   run: |
      #     npx react-native build-android --tasks assembleRelease

      # - name: Upload Android APK
      #   uses: actions/upload-artifact@v4
      #   with:
      #     path: android/app/build/outputs/apk/release/app-release.apk
      #     name: android-release-apk

      # - name: run tests
      #   uses: reactivecircus/android-emulator-runner@v2
      #   with:
      #     api-level: 29
      #     script: |
      #       $ANDROID_HOME/platform-tools/adb install android/app/build/outputs/apk/release/app-release.apk 
      #       $HOME/.maestro/bin/maestro record maestro/Launch.android.yaml Launch.android.mp4 --local

      # - name: Upload test video
      #   uses: actions/upload-artifact@v4
      #   if: ${{ success() || failure() }}
      #   with:
      #     path: Launch.android.mp4
      #     name: Android
