name: Maestro (Android)

on: 
  workflow_dispatch:
  # push:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - run: df -h .
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm install

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '8.14.1'

      - run: df -h .

      - name: Configure gradle / cmake for baked-in versions
        run: |
          cd android
          # spoof gradlew to use pre-installed 9.2.0
          # mv -f gradlew.local-passthrough gradlew
          # point gradle to pre-installed cmake
          mv local.properties.ubuntu-24.04 local.properties

      - name: Build Android App
        run: |
          npx react-native build-android --tasks assembleRelease --extra-params "-x lint -x lintVitalRelease"
      
      - run: df -h .

      - name: Install Maestro
        run: |
          export MAESTRO_VERSION="2.0.8"; curl -Ls "https://get.maestro.mobile.dev" | bash

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-29

      - run: df -h .

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: google_apis
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          script: echo "Generated AVD snapshot for caching."

      - run: df -h .

      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: google_apis
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          script: |
            $ANDROID_HOME/platform-tools/adb install android/app/build/outputs/apk/release/app-release.apk 
            $HOME/.maestro/bin/maestro test maestro/Launch.android.yaml

      - run: df -h .
        
      - name: Upload test video
        uses: actions/upload-artifact@v4
        if: ${{ success() || failure() }}
        with:
          path: Launch.android.mp4
          name: Android
