name: Maestro (iOS)

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
            npm install
            pod install --project-directory=ios

      - name: Build iOS App
        run: |
          xcodebuild -workspace ios/MaestroGitHubActions.xcworkspace -scheme MaestroGitHubActions -configuration Release -sdk iphonesimulator -derivedDataPath ios/build
          ls ios/build/Build/Products/Release-iphonesimulator

      - name: Upload simulator release build
        uses: actions/upload-artifact@v4
        with:
          name: simulator_release_build
          path: ios/build/Build/Products/Release-iphonesimulator/MaestroGitHubActions.app

  test:
    runs-on: macos-15
    needs: build
    steps:
      - uses: actions/checkout@v2

      - name: Download simulator release build
        uses: actions/download-artifact@v5
        with:
          name: simulator_release_build
          path: Build.app

      - name: Install Maestro
        run: |
          export MAESTRO_VERSION="2.0.8"; curl -Ls "https://get.maestro.mobile.dev" | bash
          echo "$HOME/.maestro/bin" >> "$GITHUB_PATH"

      - uses: futureware-tech/simulator-action@v4
        with:
          model: 'iPhone 16 Pro'
          os_version: '18.6'
          wait_for_boot: true
          erase_before_boot: false

      - name: Run Maestro tests
        run: |
          xcrun simctl install booted Build.app

          # start recording which only runs in foreground and writes on SIGINT
          # ^run in background and capture PID to SIGINT after test
          
          xcrun simctl io booted recordVideo --codec=h264 test-runs/Launch1.ios.mp4 &
          RECORDING_PID1=$!
          maestro test maestro/Launch.ios.yaml --no-ansi
          kill -INT $RECORDING_PID1

          xcrun simctl io booted recordVideo --codec=h264 test-runs/Launch2.ios.mp4 &
          RECORDING_PID2=$!
          maestro test maestro/Launch.ios.yaml --no-ansi
          kill -INT $RECORDING_PID2

          xcrun simctl io booted recordVideo --codec=h264 test-runs/Launch3.ios.mp4 &
          RECORDING_PID3=$!
          maestro test maestro/Launch.ios.yaml --no-ansi
          kill -INT $RECORDING_PID3

          # TODO: run on non-zero so we still get a video on test fail
          echo Maestro done

      - name: Upload test video
        uses: actions/upload-artifact@v4
        with:
          path: test-runs
          name: test-runs
