name: Maestro (iOS)

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
            npm install
            pod install --project-directory=ios

      - name: Build iOS App
        run: |
          xcodebuild -workspace ios/MaestroGitHubActions.xcworkspace -scheme MaestroGitHubActions -configuration Release -sdk iphonesimulator -derivedDataPath ios/build
          ls ios/build/Build/Products/Release-iphonesimulator

      - name: Upload simulator release build
        uses: actions/upload-artifact@v4
        with:
          name: simulator_release_build
          path: ios/build/Build/Products/Release-iphonesimulator/MaestroGitHubActions.app

  test:
    runs-on: macos-15
    needs: build
    steps:
      - uses: actions/checkout@v2

      - name: Download simulator release build
        uses: actions/download-artifact@v5
        with:
          name: simulator_release_build
          path: Build.app

      - name: Install Maestro
        run: |
          export MAESTRO_VERSION="2.0.8"; curl -Ls "https://get.maestro.mobile.dev" | bash
          echo "$HOME/.maestro/bin" >> "$GITHUB_PATH"

      - uses: futureware-tech/simulator-action@v4
        with:
          model: 'iPhone 16 Pro'
          os_version: '18.6'
          wait_for_boot: true
          erase_before_boot: false

      - name: Run Maestro tests
        env:
          MAESTRO_CLI_NO_ANALYTICS: 1
          MAESTRO_RECORD: true
        run: |
          xcrun simctl install booted Build.app

          maestro test maestro/Launch.ios.yaml --no-ansi --format JUNIT

          echo Maestro done

      - name: Test Summary
        id: test_summary
        if: ${{ !cancelled() }}
        uses: test-summary/action@v2
        with:
          paths: "report.xml"

      - name: Upload test video
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-runs
          path: "*.mp4"
