name: Maestro

on: push

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
            npm install
            brew tap mobile-dev-inc/tap
            brew install maestro
        
      - name: Build iOS App
        run: |
          xcodebuild -workspace ios/MaestroGitHubActions.xcworkspace -scheme MaestroGitHubActions -configuration Release -sdk iphonesimulator -derivedDataPath ios/build

      - name: Run Maestro tests
        run: |
          xcrun simctl install booted ios/build/Build/Products/Release-iphonesimulator/MaestroGitHubActions.app
          maestro record maestro maestro/Launch.yaml --local Launch.mp4

      - name: Upload test video
        uses: actions/upload-artifact@v2
        with:
          path: Launch.mp4
