name: Maestro (iOS)

on:
  workflow_dispatch:
  # push:

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
            npm install
            pod install --project-directory=ios
            brew tap mobile-dev-inc/tap
            brew install maestro
        
      - name: Build iOS App
        run: |
          xcodebuild -workspace ios/MaestroGitHubActions.xcworkspace -scheme MaestroGitHubActions -configuration Release -sdk iphonesimulator -derivedDataPath ios/build

      - name: Run Maestro tests
        run: |
          open -a Simulator --args -CurrentDeviceUDID 16C7C924-90C5-4EFD-A5F2-9647BB0835AD
          xcrun simctl install booted ios/build/Build/Products/Release-iphonesimulator/MaestroGitHubActions.app
          maestro record maestro/Launch.ios.yaml Launch.ios.mp4 --local

      - name: Upload test video
        uses: actions/upload-artifact@v4
        with:
          path: Launch.ios.mp4
          name: iOS