name: Maestro (Android)

on: 
  workflow_dispatch:
  push:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          export MAESTRO_VERSION="2.0.8"; curl -Ls "https://get.maestro.mobile.dev" | bash
          $HOME/.maestro/bin/maestro --help
          npm install

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 31
          profile: pixel_5
          avd-name: Pixel_5_API_31_AOSP
          cmake: 3.22.1
          ndk: 27.1.12297006
          pre-emulator-launch-script: |
            npx react-native build-android --tasks assembleRelease
          script: |
            adb install android/app/build/outputs/apk/release/app-release.apk 
            $HOME/.maestro/bin/maestro record maestro/Launch.android.yaml Launch.android.mp4 --local

      - name: Upload test video
        uses: actions/upload-artifact@v4
        if: ${{ success() || failure() }}
        with:
          path: Launch.android.mp4
          name: Android
